/* css/main.css - Estilos globais e reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tahoma', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.hidden {
    display: none !important;
}